@page
@model Quiz1_PBKK.Pages.productModel
@{
}
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 sm:py-32 sm:px-2 lg:px-4">
    <div class="max-w-2xl mx-auto px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="font-semibold text-gray-500">What We Offer</h2>
        <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Our Products and Services</p>
        <p class="mt-4 text-gray-500">Pick the choice of products and services that suits your needs.</p>
      </div>

      <div class="space-y-16 pt-10 mt-10 border-t border-gray-200 sm:pt-16 sm:mt-16">
        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Items</h3>
            <p class="mt-2 text-sm text-gray-500">Search items from various local brands products</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100 overflow-hidden">
             <a href="">
              <img src="https://tailwindui.com/img/ecommerce-images/product-feature-04-detail-03.jpg" alt="High Quality Items" class="object-center object-cover hover:object-scale-down">
             </a>
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Stylist</h3>
            <p class="mt-2 text-sm text-gray-500">Have a real time consultation with one of our proffesional stylists.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100 overflow-hidden">
                <a href="">
              <img src="https://img.okezone.com/content/2015/11/09/194/1245908/mengenal-profesi-fashion-stylist-gWdw4s1tvJ.jpg" alt="Stylist" class="object-center object-cover hover:object-scale-down">
                </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>