@page
@model Quiz1_PBKK.Pages.collaborationModel
@{
}
@{
    ViewData["Title"] = "Collaboration";
}

<div class="bg-white">
  <div class="max-w-7xl mx-auto px-4 py-24 sm:px-6 lg:px-8">
    <div class="bg-gray-50 rounded-2xl px-6 py-16 sm:p-16">
      <div class="max-w-xl mx-auto lg:max-w-none">
        <div class="text-center">
          <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Our Partners and Collaborators</h2>
        </div>
        <div class="mt-12 max-w-sm mx-auto grid grid-cols-1 gap-y-10 gap-x-8 sm:max-w-none lg:grid-cols-3">
          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-auto h-16 mx-auto" src="https://scontent.fsub1-1.fna.fbcdn.net/v/t1.6435-9/155559764_245091137252991_1452215257086715737_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=cQwSO0KgaYoAX-vSETg&_nc_ht=scontent.fsub1-1.fna&oh=00_AT9JbPQkmkQt3t7ZcwEexoj-SrpgTX8iS8-xQzvk846PKQ&oe=6250BC15" alt="">
              </div>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-auto h-16 mx-auto" src="https://scontent.fsub1-2.fna.fbcdn.net/v/t1.6435-9/46956265_2001218633300581_4629496345860767744_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=jBSKoC-pGmQAX-73dkE&_nc_ht=scontent.fsub1-2.fna&oh=00_AT8M2HVARrtL6ySJvPX6uoS0NdgY1kE3oPW55Kks57CDlw&oe=62508222" alt="">
              </div>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-auto h-16 mx-auto" src="https://cdn.shopify.com/s/files/1/1413/9318/files/Logo_Cosmonauts-01_large.png?v=1508918352" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="max-w-xl mx-auto lg:max-w-none">
        <div class="mt-12 max-w-sm mx-auto grid grid-cols-1 gap-y-10 gap-x-8 sm:max-w-none lg:grid-cols-3">
          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-auto h-16 mx-auto" src="https://4.bp.blogspot.com/-2Ns3oEn23mU/WJSSSTd45QI/AAAAAAAAAOo/WRZ-tHTT_bIO9ccv7DOS_N7HQL22KtbEACLcB/s400/Untitled-1.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-auto h-16 mx-auto" src="https://1.bp.blogspot.com/-BZ1nWRyYVBU/WJSSUZhFUBI/AAAAAAAAAO0/LTvg10kWS5sRh0DkTjvPsA2CxdOyJ4KIwCLcB/s400/elders.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-auto h-16 mx-auto" src="https://www.static-src.com/wcsstore/Indraprastha/images/brandlogo//BRD-42877/roughneck-1991-logo.jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
